body{
    background-color: black;
}
@media (min-width: 1024px){
.container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 41px;
    top: 75px;
    color: rgb(42, 2, 2);
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    
}
.change .bar2 {
    opacity: 0;
   
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  
}
.home-button img{
    position: absolute;
    width: 84px;
    height: 44px;
    left: 950px;
    top: 19px;
    }


.oldcar1 img{
    position: relative;
    width: 1839.78px;
    height: 480.35px;
    left: 0.22px;
    top: 69px;

}
.text1{
    position: absolute;
width: 620px;
height: 177px;
left: 150px;
top: 760px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
font-style: italic;
color: #FFFFFF;
}
.text2{
    position: absolute;
    width: 550px;
    height: 167px;
    left: 1300px;
    top: 760px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
}
.maket{
    position: absolute;
width: 534px;
height: 964px;
left: 670px;
top: 900px;
}
.oldandnoire img{
    position: absolute;
width: 1845px;
height: 839px;
left: 43px;
top: 1936px;
}
}
@media (min-width: 320px) and (max-width: 426px){
    .home-button img{
        position: absolute;
        width: 90px;
        height: 70px;
        left: 115px;
        top: 19px;
        }
        .container {
            display: inline-block;
            cursor: pointer;
            position: relative;
            left: 4px;
            top: 15px;
            
        }
        
        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
        }
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            transform: rotate(-45deg) translate(-9px, 6px) ;
        }
        .change .bar2 {
            opacity: 0;
        }
        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            transform: rotate(45deg) translate(-8px, -8px) ;
        }
        .oldcar1 img{
            position: relative;
            width: 320px;
            height: 270px;
            top: 69px;
            right: 5px;
        }
        .oldcar1 {
            position: relative;
            width: 320px;
            height: 270px;
            top: 69px;
            right: 4px;
        }
    .text1{
        position: absolute;
        width: 310px;
        height: 300px;
        top: 500px;
       left: 0px;
       font-style: italic;
       font-family: 'Inter';
       color: white;
    }
    .text2{
        position: absolute;
        width: 310px;
        height: 300px;
        top: 760px;
       left: 0px;
       font-style: italic;
       font-family: 'Inter';
       color: white;
    }
    .maket img{
        position: absolute;
        width: 300px;
        height: 270px;
        left: 10px;
        top: 1100px;
        border-radius: 16px;
    }
    .oldandnoire img{
        position: absolute;
        width: 300px;
        height: 270px;
        left: 10px;
        top: 1500px;
        border-radius: 16px;
    }
    }